@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

@import "./reset.css";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));


:root{
	--sidebar-open-width:275px;
	--sidebar-close-width:85px;

	
	--color-neutral-border: #e7e7e7;
	
}
/* toast styles start */

.Vue-Toastification__toast--success.my-custom-toast-class, .Vue-Toastification__toast--info.my-custom-toast-class, .Vue-Toastification__toast--error.my-custom-toast-class {
	border-radius: 5px;
	margin:0px;
	margin-top:15px;
	scale: 0.95;
	min-height: 0px;
	padding:15px 25px 15px 15px;
}
.Vue-Toastification__toast--info.my-custom-toast-class {
	background-color: #00619D !important;
}

.Vue-Toastification__toast--success.my-custom-toast-class {
	background-color: #009D1D !important;
}
.Vue-Toastification__toast-body{
	width:fit-content !important;
	color: white !important;
}
.Vue-Toastification__close-button{
	width:15px !important;
	color:white !important;
	opacity: 1 !important;
}

/* toast styles end */
body, p, h1, h2, h3, h4, h5, h6, li, div, input, a{
	  font-family: "Poppins", sans-serif;

	font-size: 16px;
	color:var(--color-default-text);
	line-height: initial;
}

@theme{
	
	--color-default-text-iv: #cfcde4;
	--color-default-text: #444050;
	--color-gray-text: #444050;
	--color-gray-background: #f2f2f3;
	--color-deskmint-green: #0FA557;
	--color-deskmint-green-dark: #039F4E;
	/*--color-deskmint-green-light: RGBA(136,255,193, 1);*/
	--color-deskmint-green-light: RGBA(22,119,46, 0.25);
	
	--color-input-border:color-mix(in sRGB, #2f2b3d 22%, #fff);
	--color-input-border-hover: #6cb57d;
	--color-url-color:#007D1E;

	--shadow-four-side: 0px 0px 15px #e7e7e7;
	--color-background-1: #ffffff;
	--color-background-2: #F6FFEF;
	--color-background-2-tra: RGBA(245, 255, 239, 0.5);
	--color-background-card: #ffffff;
	--color-hover: #EBEBEB;
	--shadow-lg: 0 0px 15px rgba(0, 0, 0, 0.20);
	--shadow-clg: 0 .125rem .50rem rgba(0,0,0,.075);
	--color-deskmint-original:#007B3B;
	--color-deskmint-original-dark:#006832;
	--color-deskmint-original-dark-plus:#005328;
	--color-deskmint-original-light:#00823E;
	/*
	--breakpoint-*: initial;
	--breakpoint-sm: 768px;
	--breakpoint-md: 1025px;
	--breakpoint-lg: 1200px;
	--breakpoint-xl: 1280px;
	--breakpoint-2xl: 1440px;
	*/
	
}
@layer theme {
  * {
    @variant dark {
		--color-default-text-iv: #444050;
		--color-default-text:#b5bfb7;
		--shadow-four-side: 0px 0px 15px #000;
		--color-background-1: #2f3349;
		/*--color-background-2: #11170E;*/
		--color-background-2: #121B16;
		--color-background-2-tra: RGBA(18, 27, 22, 0.7);
		--color-hover: #3D435B;
		--color-background-card: #1e2723;
		--shadow-lg: 0 0px 25px rgba(0, 0, 0, 1);
		--color-deskmint-green-light: RGBA(3,159,78, 0.15);
		--color-url-color:#20c547;
		--color-neutral-border: #2F4732;
		--color-input-border: #556e63;
		--color-input-border-hover: #BBDDC3;

		--shadow-clg: 0 0px 7px rgba(0, 0, 0, 0.20);
		
    }
	
  }
  
}
@layer utilities {

	/*
	.row {
		@apply grid grid-cols-12;
	}*/

	/* col-md-[1-12] */
	/*.col-md-1  { @apply col-span-12 lg:col-span-1; }
	.col-md-2  { @apply col-span-12 lg:col-span-2; }
	.col-md-3  { @apply col-span-12 lg:col-span-3; }
	.col-lg-4  { @apply col-span-12 xl:col-span-4; }
	.col-md-5  { @apply col-span-12 lg:col-span-5; }
	.col-md-6  { @apply col-span-12 lg:col-span-6; }
	.col-md-7  { @apply col-span-12 lg:col-span-7; }
	.col-lg-8  { @apply col-span-12 lg:col-span-8; }
	.col-lg-9  { @apply col-span-12 lg:col-span-9; }
	.col-lg-10 { @apply col-span-12 lg:col-span-10; }
	.col-lg-11 { @apply col-span-12 lg:col-span-11; }
	.col-lg-12 { @apply col-span-12 lg:col-span-12; }*/

	.from-bg-deskmint-green{
		background: var(--color-deskmint-green);
	}
	.to-bg-deskmint-green-dark{
		background: var(--color-deskmint-green-dark);
	}
	
	/*.sidebar.close{
		@apply w-[80px];
	}
	.sidebar:hover{
		@apply w-[275px];
	}*/
	
}
.main-section a, footer a, form a{
	@apply text-url-color;
}
.styled-scrollbar {
    scrollbar-color: transparent transparent;
    scrollbar-width: thin;
    --scrollbar-background: var(--styled-scrollbar-background, var(--shreddit-content-background));
}
.styled-scrollbar.visible, .styled-scrollbar:hover {
    scrollbar-color: var(--color-neutral-border) transparent;
}
.sidebar-menu{
	@apply max-w-full lg:max-w-1/2;
}
.big-content{
	@apply transition-all;
}
.main-content{
	@apply bg-background-2 block min-h-[100vh]! transition-all;
}
.sidebar{
	@apply fixed top-0 lg:block h-[100vh] lg:w-[var(--sidebar-open-width)] translate-x-[-110%] min-w-[68%] lg:min-w-[initial] lg:translate-x-0 transition-all  duration-300 z-20 bg-background-2;
}
.sidebar.closed{
	@apply lg:fixed h-[100vh] lg:w-[var(--sidebar-close-width)];
}
.sidebar.closed:hover{
	@apply lg:w-[var(--sidebar-open-width)] z-25;
}
.sidebar.phone{
	/*style="display:block;position:absolute;left:0;width:500px;background:white"*/
	@apply block fixed left-0 top-0 min-w-[68%] translate-x-0 z-40;
	
}
.sidebar.closed:hover .main-content{
	@apply lg:ml-[var(--sidebar-close-width)];
}
.topbar{
	@apply bg-background-2 p-2 fixed top-0 shadow-none z-10;
}
.sidebar-logo-area{
	@apply m-[20px] ml-[25px];
}
.sidebar-logo-area .logo{
	@apply max-w-[170px];
}
.sidebar-logo-area .logo-icon{
	@apply min-w-[34px];
}
.sidebar-menu-items{
	@apply  m-[14px];
}
.sidebar-menu-items ul li a {
  @apply p-[10px] rounded-lg mt-[10px] transition-colors duration-300;
}

.sidebar-menu-items ul li a:hover {
  @apply bg-deskmint-green text-white;
}

.sidebar-menu-items ul li .active-menu-link{
  @apply bg-gradient-to-r from-deskmint-green-dark to-deskmint-green text-white! shadow-lg;
}

.barcard{
	@apply absolute top-16 lg:top-12 left-0 w-full lg:left-[initial] lg:w-[initial] lg:right-0 bg-background-card text-gray-text px-[5px] pb-[5px] rounded-lg shadow-lg z-10;
}
.barcard ul li a{
	@apply p-[14px] pt-[7px] pb-[7px] mt-[5px] rounded-lg text-default-text transition-all duration-300;
}

.active_theme_tab, .barcard ul li a:hover{
	@apply bg-deskmint-green-light! text-deskmint-green!;
}
.barcard-shortcut{
	@apply absolute top-16 lg:top-12 w-full left-0 lg:w-[initial] lg:left-[initial] right-0 z-20 shadow-lg p-[15px] rounded-lg max-h-[300px] overflow-auto bg-background-card text-gray-text;
}
.shortcut-card{
	@apply flex flex-col items-center shadow-lg p-[25px] rounded-lg transition-all duration-300;
}
.shortcut-card:hover, .profile-item:hover{
	@apply shadow-none bg-deskmint-green-light! text-deskmint-green!;
}
.shortcut-card:hover p{
	@apply text-deskmint-green!;
}
.shortcut-card a{
	@apply ml-[15px];
}
.red-pill-notification-alert{
	@apply absolute border-4 border-[red] rounded-4xl top-0 right-0;
}
.notifications-area{
	@apply absolute z-20 shadow-lg bg-background-card rounded-lg max-h-[300px] p-[5px] overflow-auto top-16 lg:top-12 right-0 min-w-[400px];
}
.notification a{
	@apply p-[15px];
}
.notification{
	@apply rounded-lg m-[5px] transition-all duration-300;
}
.notification p{
	@apply text-[14px]!;
}
.notification:hover{
	@apply bg-deskmint-green-light! text-deskmint-green!;
}
.notification:hover p{
	@apply text-deskmint-green!;
}
.notifications-area hr,.profile-area hr{
	@apply border-y-gray-background dark:border-default-text-iv;
}
.profile-picture-topbar{
	@apply rounded-4xl max-w-[40px];
}
.green-pill-alert{
	@apply absolute border-5 border-[green] rounded-4xl right-0 bottom-0 shadow-[0px_0px_1px_white] outline-2 outline-white dark:outline-background-card;
}
.profile-area{
	@apply absolute w-full bg-background-card lg:w-[initial] top-16 lg:top-14 z-20 min-w-[200px] right-0 p-[5px] shadow-lg rounded-lg max-h-[300px] gap-5 ;
}
.profile-item{
	@apply flex items-center block pl-[20px] pr-[20px] pt-[15px] pb-[15px] rounded-lg transition-all duration-300;
}
.global-footer{
	@apply text-center  w-full;
}
.main-section{
	@apply mt-[56px] pl-[10px] pr-[10px] lg:pr-[21px];
}
.card{
	@apply bg-background-card rounded-lg shadow-clg p-[25px];
}
.fix-collapsed-icon{
	@apply pl-[13.5px]!;
}

.form-group:not(:first-child){
	@apply mt-[18px];
}
.form-group input{
	@apply block w-full border-1 border-input-border rounded-sm transition-all duration-300 py-[6px] px-[13px] bg-transparent!;
}

.form-group input:hover{
	@apply  border-input-border-hover;
}
.form-group input:focus{
	@apply border-1 border-deskmint-green! outline-1 outline-deskmint-green shadow-lg;
}
.form-group label{
	@apply text-[14px];
}
.red-input-order{
	@apply border-1! border-solid! outline-1 outline-red-500 border-red-500!;
}
.checkbox-wrapper-39 *,
  .checkbox-wrapper-39 *::before,
  .checkbox-wrapper-39 *::after{
	@apply box-border;
}

.checkbox-wrapper label {
	@apply block w-[20px] h-[20px] cursor-pointer;
}

.checkbox-wrapper input {
	@apply invisible hidden;
}

.checkbox-wrapper input:checked ~ .checkbox {

	@apply rotate-45 w-[8px] ml-[5px] border-deskmint-green-dark border-t-transparent border-l-transparent rounded-none;

}

.checkbox-wrapper .checkbox {
	@apply block w-[inherit] h-[inherit] border-2 border-solid border-input-border rounded-[5px] shadow-none transition-all duration-300;
}
.table-container{
	@apply overflow-x-auto w-full rounded-lg;
}
.table{
	@apply min-w-full text-sm text-left whitespace-nowrap ;
}
.table th, .table td{
	@apply text-left p-[10px] border-t-1 bottom-1 top-0 border-solid border-deskmint-green-light;
}
.table thead tr:first-child, .table tfoot tr:last-child{
	@apply bg-deskmint-green-dark text-white rounded-lg font-medium;
}