@import url('https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import "tailwindcss";

@import "./reset.css";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));


:root{
	--sidebar-open-width:275px;
	--sidebar-close-width:85px;

	--styled-scrollbar-background: red;
	--shreddit-content-background: green;
	--color-neutral-border: black;
}

*, span{
	font-family: "KoHo", "sans-serif";
	font-size: 16px;
}
@theme{
	--color-gray-text: #444050;
	--color-gray-background: #f2f2f3;
	--color-deskmint-green: #0FA557;
	--color-deskmint-green-dark: #039F4E;
	--color-deskmint-green-light: #88FFC1;

	--shadow-four-side: 0px 0px 15px #e7e7e7;
}
@layer utilities {

	.row {
		@apply grid grid-cols-12;
	}

	/* col-md-[1-12] */
	.col-md-1  { @apply col-span-12 md:col-span-1; }
	.col-md-2  { @apply col-span-12 md:col-span-2; }
	.col-md-3  { @apply col-span-12 md:col-span-3; }
	.col-md-4  { @apply col-span-12 md:col-span-4; }
	.col-md-5  { @apply col-span-12 md:col-span-5; }
	.col-md-6  { @apply col-span-12 md:col-span-6; }
	.col-md-7  { @apply col-span-12 md:col-span-7; }
	.col-md-8  { @apply col-span-12 md:col-span-8; }
	.col-md-9  { @apply col-span-12 md:col-span-9; }
	.col-md-10 { @apply col-span-12 md:col-span-10; }
	.col-md-11 { @apply col-span-12 md:col-span-11; }
	.col-md-12 { @apply col-span-12 md:col-span-12; }

	.from-bg-deskmint-green{
		background: var(--color-deskmint-green);
	}
	.to-bg-deskmint-green-dark{
		background: var(--color-deskmint-green-dark);
	}
	
	/*.sidebar.close{
		@apply w-[80px];
	}
	.sidebar:hover{
		@apply w-[275px];
	}*/
}
.styled-scrollbar {
    scrollbar-color: transparent transparent;
    scrollbar-width: thin;
    --scrollbar-background: var(--styled-scrollbar-background, var(--shreddit-content-background));
}
.styled-scrollbar.visible, .styled-scrollbar:hover {
    scrollbar-color: var(--color-neutral-border) transparent;
}
.sidebar-menu{
	@apply bg-amber-600 max-w-full md:max-w-1/2;
}
.big-content{
	@apply flex relative transition-all;
}
.main-content{
	@apply grow  transition-all;
}
.sidebar{
	@apply fixed md:block h-[100vh] md:w-[var(--sidebar-open-width)] translate-x-[-100%] md:translate-x-0 transition-all z-20 bg-white shadow-xl dark:bg-black dark:text-white;

	
}
.sidebar.closed{
	@apply md:fixed h-[100vh] md:w-[var(--sidebar-close-width)];
}
.sidebar.closed:hover{
	@apply md:w-[var(--sidebar-open-width)] z-25;
}
.sidebar.phone{
	/*style="display:block;position:absolute;left:0;width:500px;background:white"*/
	@apply block fixed left-0 top-0 min-w-[68%] translate-x-0 z-40;
	
}
.sidebar.closed:hover .main-content{
	@apply md:ml-[var(--sidebar-close-width)];
}
.topbar{
	@apply fixed p-2 bg-white w-full drop-shadow-md;
}
.sidebar-logo-area{
	@apply m-[20px] ml-[25px];
}
.sidebar-logo-area .logo{
	@apply max-w-[170px];
}
.sidebar-logo-area .logo-icon{
	@apply min-w-[36px];
}
.sidebar-menu-items{
	@apply  m-[14px];
}
.sidebar-menu-items ul li a {
  @apply p-[10px] rounded-lg mt-[10px] font-semibold text-gray-text transition-colors duration-300;
}

.sidebar-menu-items ul li a:hover {
  @apply bg-deskmint-green text-white;
}

.sidebar-menu-items ul li .active-menu-link {
  @apply bg-gradient-to-r from-deskmint-green-dark to-deskmint-green text-white drop-shadow-lg;
}

.submenu{
	@apply mb-[20px];
}
.barcard{
	@apply absolute top-12 left-[-90px] bg-white p-[5px] rounded-lg z-10;
}
.barcard ul li a{
	@apply p-[14px] pt-[7px] pb-[7px] mt-[5px] rounded-lg transition-all duration-300;
}
.barcard ul li a:hover, .active_theme_tab{
	@apply bg-deskmint-green-light drop-shadow-sm;
}
.barcard-shortcut{
	@apply absolute top-12 left-[-380px] z-20 shadow-four-side p-[25px] rounded-xl max-h-[300px] overflow-auto bg-white;
}
.shortcut-card{
	@apply flex flex-col items-center shadow-four-side p-[25px] rounded-lg transition-all duration-300;
}
.shortcut-card:hover{
	@apply shadow-none bg-gray-background;
}
.shortcut-card a{
	@apply ml-[15px];
}
.red-pill-notification-alert{
	@apply absolute border-4 border-[red] rounded-4xl top-0 right-0;
}
.notifications-area{
	@apply absolute z-20 shadow-four-side bg-white rounded-xl max-h-[300px] overflow-auto top-12 left-[-368px] min-w-[400px];
}
.notification a{
	@apply p-[25px];
}
.notification{
	@apply transition-all duration-300;
}
.notification:hover{
	@apply bg-gray-background;
}
.notifications-area hr{
	@apply border-y-gray-background;
}
.profile-picture-topbar{
	@apply rounded-4xl max-w-[40px];
}
.green-pill-alert{
	@apply absolute border-5 border-[green] rounded-4xl right-0 bottom-0 shadow-[0px_0px_1px_white];
}