

@import "tailwindcss";

@layer utilities {
    .in-scrollbar, .in-scrollbar::-webkit-scrollbar{
        -ms-overflow-style: thin;
        scrollbar-width: thin;
        scrollbar-color: gray transparent;
    }
}

@theme {
    --font-display: "Satoshi", "sans-serif";
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1536px;
    --color-mint-color: #00A050;
    --color-mint-color-end: #1BD377;
    --color-hover-gray: #e7e7e7;
    --color-heading-color: #444050;
    --color-active-menu-bg:#EEEEEF;
    --color-shadow:#979997;
}
.nav-menu-item {
    @apply clear-right duration-250 ease-in pt-[5px] pr-[7px] pb-[5px] pl-[7px] pl-[10px] mb-[5px] text-heading-color rounded-[5px] text-[15px] hover:bg-active-menu-bg hover:text-heading-color;
}
.nav-menu-item.active{
    @apply bg-gradient-to-r from-[var(--color-mint-color)] to-[var(--color-mint-color-end)] text-white shadow-[0_0_10px_var(--color-shadow)] shadow-2xl;
}

.nav-menu-item a:nth-child(1){
    @apply mr-[2.5px] mb-[10px];
}
.nav-menu-item span:nth-child(2){
    @apply relative top-[2px] left-[3px];
}
.submenu {
    @apply ml-[10px] mb-[15px];
}
.submenu li a{
   @apply pb-[7.3px];
}